<div class="gf-field-wrapper gf-field-select gf-field-{{ field.key }} {{ field.wrapper_class }} {{ field.is_required ? 'required' }}">

    <label>
        <span>{{ field.label | raw }}</span>{{ field.is_required ? '<span style="color:#ff0000!important;">&nbsp;*</span>' }}
        <select name="{{ field.key }}" 
                class="{{ field.field_class }}" {{ field.is_required ? 'required' }}>
            {% for key, value in field.getOptions() %}
            <option value="{{ key }}" {{ value == field.default ? 'selected="selected"' }} {{ value == 'disabled' ? 'disabled' }}>
                {{ value }}
            </option>
            {% endfor %}
        </select>
    </label>


    {% if field.comment %}
    <div class="gf-field-comment">
        {{ field.comment }}
    </div>
    {% endif %}
    <div class="gf-field-validation-message"
         data-validate-for="{{ field.key }}"></div>
</div>


